{% extends 'base.html' %}
{% csrf_token %}
{% block content %}
  <h1 class="mt-2">Ver Treinamentos</h1>
  <hr class="mt-0 mb-4">
  <div class="container">
    {% if list %}
      Você está cadastrado em {{ list|length }} treinos:
      {% for t in list %}
        <div class="card-body">
          <h4 class="card-title">{{t.treinador.nome}}</h4>
            <p class="card-text">ID do Treinamento: {{t.id}}</p>
          <p class="card-text">{{t.condicao}}</p>
          <a href="{% url 'treinodetalhe' treinoid=t.id %}" class="card-link">Detalhes</a>
        </div>
      {% endfor %}
    {% else %}
      Você não possui treinamentos registrados.
    {% endif %}
</div>
{% endblock %}