<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kinect/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="p-5"><h2 class="display-2">KinectGoleiroAPI</h2></div>
                <div class="">
                    <a href="{% url 'logintreinador' %}" class="btn btn-info text-center btn-block" role="button">Fazer login como Treinador</a>
                    <a href="{% url 'loginatleta' %}" class="btn btn-info text-center btn-block" role="button">Fazer login como Atleta</a>
                </div>
            </div>
          </div>
    </div>
</body>
</html>